# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# large media files
*.png
*.jpg
*.jpeg
*.mov
*.psd
*.mp4

# Ignore large video files
.firebase/mitsch-website/functions/public/videos/blogging-app-video.mp4
.firebase/mitsch-website/functions/public/videos/omr-website-replica-video.mp4

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.firebase/mitsch-website/functions/public/videos/color-palette-generator-video.mp4
.firebase/mitsch-website/functions/public/videos/couchsurfing-signup-form-video.mp4
.firebase/mitsch-website/functions/public/videos/emailjs-contact-form-video.mp4
.firebase/mitsch-website/functions/public/videos/nasa-api-app-video.mp4
.firebase/mitsch-website/functions/public/videos/rotating-globe-video.mp4
.firebase/mitsch-website/functions/public/videos/stack-navigation-video.mp4
