@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Hind Siliguri";
  src: url("/fonts/HindSiliguri-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HomemadeApple";
  src: url("/fonts/HomemadeApple-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('/fonts/CooperHewitt-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Covered By Your Grace';
  src: url('/fonts/CoveredByYourGrace-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body, div, p, span {
  cursor: url('/images/cursor-default-64.png') 16 16, auto !important;
}

a, button, input, textarea, .clickable {
  cursor: url('/images/cursor-click-80.png') 36 36, pointer !important;
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1,
h2 {
  @apply font-cooperhewitt;
}

h3 {
  text-transform: uppercase;
}

p,
li,
label,
input,
textarea,
button {
  @apply font-hind;
}

a {
  position: relative;
  text-decoration: none;
}

a:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: white;
  animation: draw 0.1s ease-in-out forwards;
  /* filter: blur(2px); */
  /* border-radius: 2px; */
  transform: translateY(3px);
}

@keyframes draw {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

button>a {
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.zoom-out {
  transform: scale(0.8); 
  transform-origin: top center; 
}


@media (max-width: 600px) {
  /* Styles for small devices (phones) */
}

@media (max-width: 768px) {
  /* Styles for medium devices (tablets) */
}

@media (min-width: 1024px) {
  /* Styles for large devices (desktops) */
}